
form {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;

    // display: grid;
    // grid-template-columns: repeat(auto-fit, min-content);
    // grid-auto-rows: min-content;
    // grid-gap: 1rem;
    // max-width: 100vw;

    .divider {
        color: #979797;
        margin-top: 0.4rem;
    }
}
