<form class="dark-layout" [formGroup]="inventoryForm">
    <span class="title section-title">
        <span (click)="showInventory = !showInventory" class="clickable">INVENTORY</span>
    </span>

    <span *ngIf="showInventory" class="inventory-layout">
        <span class="individual-layout">
          <label for="1">1</label>
          <span class="inventory-slots-layout" formGroupName=1>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="2">2</label>
          <span class="inventory-slots-layout" formGroupName=2>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="3">3</label>
          <span class="inventory-slots-layout" formGroupName=3>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="4">4</label>
          <span class="inventory-slots-layout" formGroupName=4>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="5">5</label>
          <span class="inventory-slots-layout" formGroupName=5>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="6">6</label>
          <span class="inventory-slots-layout" formGroupName=6>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="7">7</label>
          <span class="inventory-slots-layout" formGroupName=7>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="8">8</label>
          <span class="inventory-slots-layout" formGroupName=8>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="9">9</label>
          <span class="inventory-slots-layout" formGroupName=9>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="10">10</label>
          <span class="inventory-slots-layout" formGroupName=10>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="11">11</label>
          <span class="inventory-slots-layout" formGroupName=11>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="12">12</label>
          <span class="inventory-slots-layout" formGroupName=12>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="13">13</label>
          <span class="inventory-slots-layout" formGroupName=13>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="14">14</label>
          <span class="inventory-slots-layout" formGroupName=14>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="15">15</label>
          <span class="inventory-slots-layout" formGroupName=15>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="16">16</label>
          <span class="inventory-slots-layout" formGroupName=16>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="17">17</label>
          <span class="inventory-slots-layout" formGroupName=17>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="18">18</label>
          <span class="inventory-slots-layout" formGroupName=18>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="19">19</label>
          <span class="inventory-slots-layout" formGroupName=19>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
        <span class="individual-layout">
          <label for="20">20</label>
          <span class="inventory-slots-layout" formGroupName=20>
            <textarea appTextareaAutosize id="slotOne" type="text" formControlName="slotOne" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off"></textarea>
          </span>
        </span>
    </span>
  </form>