.inventory-layout {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    .individual-layout {
        display: grid;
        grid-template-columns: 5% 1fr;
        grid-gap: 0.5rem;
        label {
            text-align: center;
            font-size: 0.7rem;
            font-family: 'Poppins', sans-serif;
            padding-top: 0.4rem;
            color: grey;
        }
        .inventory-slots-layout {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 0.5rem;
            textarea {
                border-bottom: 1px solid white;
            }
        }
    }
}
