<form [formGroup]="traitsForm">
    <span class="standard-input white-box-layout">
        <label for="strength">STR</label>
        <span class="single-column" formGroupName="strength">
            <input appInputAutosize id="value" type="number" formControlName="value" autocomplete="off">
            <textarea appTextareaAutosize id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off"></textarea>
        </span>
    </span>
    <span class="standard-input white-box-layout">
        <label for="strength">DEX</label>
        <span class="single-column" formGroupName="dexterity">
            <input appInputAutosize id="value" type="number" formControlName="value" autocomplete="off">
            <textarea appTextareaAutosize id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off"></textarea>
        </span>
    </span>
    <span class="standard-input white-box-layout">
        <label for="strength">CON</label>
        <span class="single-column" formGroupName="constitution">
            <input appInputAutosize id="value" type="number" formControlName="value" autocomplete="off">
            <textarea appTextareaAutosize id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off"></textarea>
        </span>
    </span>
    <span class="standard-input white-box-layout">
        <label for="strength">CHA</label>
        <span class="single-column" formGroupName="charisma">
            <input appInputAutosize id="value" type="number" formControlName="value" autocomplete="off">
            <textarea appTextareaAutosize id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off"></textarea>
        </span>
    </span>
    <span class="standard-input white-box-layout">
        <label for="strength">INT</label>
        <span class="single-column" formGroupName="intelligence">
            <input appInputAutosize id="value" type="number" formControlName="value" autocomplete="off">
            <textarea appTextareaAutosize id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off"></textarea>
        </span>
    </span>
    <span class="standard-input white-box-layout">
        <label for="strength">WIS</label>
        <span class="single-column" formGroupName="wisdom">
            <input appInputAutosize id="value" type="number" formControlName="value" autocomplete="off">
            <textarea appTextareaAutosize id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off"></textarea>
            <textarea appTextareaAutosize id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off"></textarea>
        </span>
    </span>
</form>
