<span class="sheet-layout">
  <app-identity class="identity"></app-identity>
  <app-icon class="pics"></app-icon>
  <app-stats class="stats span-two"></app-stats>
  <app-traits class="traits span-two"></app-traits>
  <app-attunements class="attunements span-two"></app-attunements>
  <app-inventory class="inventory span-two"></app-inventory>
  <app-minor-stats class="minor-stats span-two"></app-minor-stats>
  <app-notes class="notes span-two"></app-notes>
  <app-utilities class="utilities span-two"></app-utilities>
</span>
