<span class="tab-section">
  <span [ngClass]="{enabled: selectedSection === 'stats'}" (click)="selectedSection = 'stats'">STATS</span>
  <span [ngClass]="{enabled: selectedSection === 'traits'}" (click)="selectedSection = 'traits'">TRAITS</span>
  <span [ngClass]="{enabled: selectedSection === 'attunements'}" (click)="selectedSection = 'attunements'">ATTUNEMENTS</span>
  <span [ngClass]="{enabled: selectedSection === 'inventory'}" (click)="selectedSection = 'inventory'">INVENTORY</span>
  <span [ngClass]="{enabled: selectedSection === 'notes'}" (click)="selectedSection = 'notes'">NOTES</span>
</span>

<form [formGroup]="characterSheet" class="sheet-layout">
  <span @enterLeave *ngIf="selectedSection !== 'notes'" class="form-group-layout identity">
    <span @slideUpDown *ngIf="showIcon" #icon  class="icon-section">
      <a *ngIf="imageUrl" onclick="document.querySelector('#hiddenImageInput').click()">
        <img id="icon" src={{imageUrl}} alt="" />
      </a>
      <a *ngIf="!imageUrl" onclick="document.querySelector('#hiddenImageInput').click()">
        <img id="icon" src="/assets/icons/dice.png" alt="" />
      </a>
      <input style="display: none" #imageUploadInput type="file" id="hiddenImageInput" accept="image/*" (change)="imageUpload($event)">
    </span>

    <span #name formGroupName="identity" class="form-section">
      <span class="label-input-layout">
        <label class="name-label" for="name">
          <strong>NAME</strong>
          <span (click)="showIcon = !showIcon">{{showIcon ? 'HIDE ICON' : 'SHOW ICON'}}</span>
        </label>
        <input id="name"type='text' formControlName="name" autocomplete="off">
      </span>
      <span class="double-column-layout horz">
        <span class="label-input-layout">
          <label for="species"><strong>SPECIES</strong></label>
          <input id="species"type='text' formControlName="species" autocomplete="off">
        </span>
        <span class="label-input-layout">
          <label for="vocation"><strong>VOCATION</strong></label>
          <input id="vocation"type='text' formControlName="vocation" autocomplete="off">
        </span>
      </span>
      <span class="label-input-layout">
        <label for="details"><strong>LANGUAGES, SPECIAL TRAITS, & MUSINGS</strong></label>
        <textarea appTextareaAutosize id="details"type='text' formControlName="details" autocomplete="off"></textarea>
      </span>
    </span>
  </span>

  <span #stats @enterLeave *ngIf="selectedSection === 'stats'" formGroupName="stats" class="form-group-layout stats">
    <span class="title">
      STATS
    </span>

    <span class="main">
      <span class="card-input-layout xp">
        <label class="main-label" for="xp"><strong>XP</strong></label>
        <span formGroupName="xp" class="hit-point-layout">
          <span class="under-label">
            <label for="current">CURRENT</label>
            <input id="current" type="text" formControlName="current" autocomplete="off">
          </span>
          <span class="under-label">
            <label for="next">NEXT</label>
            <input id="next" type="text" formControlName="next" autocomplete="off">
          </span>
        </span>
      </span>

      <span class="card-input-layout level">
        <label class="main-label" for="level"><strong>LEVEL</strong></label>
        <input id="level" type="text" formControlName="level" autocomplete="off">
      </span>

      <span class="card-input-layout hp">
        <label class="main-label" for="hitPoints"><strong>HP</strong></label>
        <span formGroupName="hitPoints" class="hit-point-layout">
          <span class="under-label">
            <label for="current">CURRENT</label>
            <input id="current" type="text" formControlName="current" autocomplete="off">
          </span>
          <span class="under-label">
            <label for="max">MAX</label>
            <input id="max" type="text" formControlName="max" autocomplete="off">
          </span>
        </span>
      </span>

      <span class="card-input-layout ac">
        <label class="main-label" for="armorClass"><strong>ARMOR CLASS</strong></label>
        <input id="armorClass" type="text" formControlName="armorClass" autocomplete="off">
      </span>

      <span class="card-input-layout st">
        <label class="main-label" for="savingThrow"><strong>SAVING THROW</strong></label>
        <input id="savingThrow" type="text" formControlName="savingThrow" autocomplete="off">
      </span>

      <span class="card-input-layout av">
        <label class="main-label" for="attack"><strong>VIOLENCE</strong></label>
        <span formGroupName="attack" class="violence-layout">
          <span class="under-label">
            <label for="value">AV</label>
            <input id="attackValue" type="text" formControlName="value" autocomplete="off">
          </span>
          <span class="under-label">
            <label for="weapon">WEAPON NAME</label>
            <input id="weaponName" type="text" formControlName="weapon" autocomplete="off">
          </span>
          <span class="under-label">
            <label for="dmg">DMG</label>
            <input id="dmg" type="text" formControlName="dmg" autocomplete="off">
          </span>
        </span>
      </span>

      <span class="card-input-layout mv">
        <label class="main-label" for="movement"><strong>MOVEMENT</strong></label>
        <input id="movement" type="text" formControlName="movement" autocomplete="off">
      </span>
      
      <span class="card-input-layout init">
        <label class="main-label" for="init"><strong>INITIATIVE</strong></label>
        <input id="init" type="text" formControlName="init" autocomplete="off">
      </span>
    </span>
  </span>

  <span @enterLeave *ngIf="selectedSection === 'traits'" formGroupName="traits" class="form-group-layout traits">
    <span class="title">
      TRAITS
    </span>

    <span class="main">
      <span class="card-input-layout str">
        <label class="main-label" for="strength"><strong>STR</strong></label>
        <span formGroupName="strength" class="trait-layout">
          <input id="value" type="text" formControlName="value" autocomplete="off">
          <input id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off">
          <input id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off">
        </span>
      </span>
      <span class="card-input-layout con">
        <label class="main-label" for="constitution"><strong>CON</strong></label>
        <span formGroupName="constitution" class="trait-layout">
          <input id="value" type="text" formControlName="value" autocomplete="off">
          <input id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off">
          <input id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off">
        </span>
      </span>
      <span class="card-input-layout dex">
        <label class="main-label" for="dexterity"><strong>DEX</strong></label>
        <span formGroupName="dexterity" class="trait-layout">
          <input id="value" type="text" formControlName="value" autocomplete="off">
          <input id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off">
          <input id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off">
        </span>
      </span>
      <span class="card-input-layout cha">
        <label class="main-label" for="charisma"><strong>CHA</strong></label>
        <span formGroupName="charisma" class="trait-layout">
          <input id="value" type="text" formControlName="value" autocomplete="off">
          <input id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off">
          <input id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off">
        </span>
      </span>
      <span class="card-input-layout wis">
        <label class="main-label" for="wisdom"><strong>WIS</strong></label>
        <span formGroupName="wisdom" class="trait-layout">
          <input id="value" type="text" formControlName="value" autocomplete="off">
          <input id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off">
          <input id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off">
        </span>
      </span>
      <span class="card-input-layout int">
        <label class="main-label" for="intelligence"><strong>INT</strong></label>
        <span formGroupName="intelligence" class="trait-layout">
          <input id="value" type="text" formControlName="value" autocomplete="off">
          <input id="firstGroup" type="text" formControlName="firstGroup" autocomplete="off">
          <input id="secondGroup" type="text" formControlName="secondGroup" autocomplete="off">
        </span>
      </span>
    </span>
  </span>

  <span @enterLeave *ngIf="selectedSection === 'attunements'" formGroupName="attunements" class="form-group-layout attunements">
    <span class="title">
      ATTUNEMENTS
    </span>

    <span class="main">
      <span class="attunement-layout one">
        <textarea appTextareaAutosize id="slotOne" formControlName="slotOne"></textarea>
      </span>

      <span class="attunement-layout two">
        <textarea appTextareaAutosize id="slotTwo" formControlName="slotTwo"></textarea>
      </span>

      <span class="attunement-layout three">
        <textarea appTextareaAutosize id="slotThree" formControlName="slotThree"></textarea>
      </span>

      <span class="attunement-layout four">
        <textarea appTextareaAutosize id="slotFour" formControlName="slotFour"></textarea>
      </span>
    </span>
  </span>

  <span @enterLeave *ngIf="selectedSection === 'inventory'" formGroupName="inventory" class="form-group-layout inventory">
    <span class="title">
      INVENTORY
    </span>

    <span class="main">
      <span class="inventory-layout">
        <label for="1">1</label>
        <span class="inventory-slots-layout" formGroupName=1>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="2">2</label>
        <span class="inventory-slots-layout" formGroupName=2>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="3">3</label>
        <span class="inventory-slots-layout" formGroupName=3>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="4">4</label>
        <span class="inventory-slots-layout" formGroupName=4>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="5">5</label>
        <span class="inventory-slots-layout" formGroupName=5>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="6">6</label>
        <span class="inventory-slots-layout" formGroupName=6>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="7">7</label>
        <span class="inventory-slots-layout" formGroupName=7>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="8">8</label>
        <span class="inventory-slots-layout" formGroupName=8>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="9">9</label>
        <span class="inventory-slots-layout" formGroupName=9>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="10">10</label>
        <span class="inventory-slots-layout" formGroupName=10>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="11">11</label>
        <span class="inventory-slots-layout" formGroupName=11>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="12">12</label>
        <span class="inventory-slots-layout" formGroupName=12>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="13">13</label>
        <span class="inventory-slots-layout" formGroupName=13>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="14">14</label>
        <span class="inventory-slots-layout" formGroupName=14>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="15">15</label>
        <span class="inventory-slots-layout" formGroupName=15>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="16">16</label>
        <span class="inventory-slots-layout" formGroupName=16>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="17">17</label>
        <span class="inventory-slots-layout" formGroupName=17>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="18">18</label>
        <span class="inventory-slots-layout" formGroupName=18>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="19">19</label>
        <span class="inventory-slots-layout" formGroupName=19>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
      <span class="inventory-layout">
        <label for="20">20</label>
        <span class="inventory-slots-layout" formGroupName=20>
          <input id="slotOne" type="text" formControlName="slotOne" autocomplete="off">
          <input id="slotTwo" type="text" formControlName="slotTwo" autocomplete="off">
        </span>
      </span>
    </span>
  </span>

  <span @enterLeave *ngIf="selectedSection === 'notes'" formGroupName="notes" class="form-group-layout notes">
    <span class="utilities" (click)="showUtilities = !showUtilities">
      <strong>{{showUtilities ? 'HIDE UTILITIES' : 'SHOW UTILITIES'}}</strong>
    </span>

    <span @enterLeave *ngIf="showUtilities" class="import-export-layout">
      <span>
        <a class="save" (click)="download()" id="downloadAnchorElem">
          <strong>SAVE</strong>
        </a>
      </span>
      <span class="load" onclick="document.querySelector('#hiddenInput').click()">LOAD</span>
      <span class="kill" (click)="kill()"><strong>KILL</strong></span>
      <span class="version">v.092B</span>
    </span>
    <textarea @enterLeave *ngIf="!showUtilities" id="value" formControlName="value"></textarea>
  </span>
</form>

<input style='display: none' #fileUploadInput type='file' id='hiddenInput' accept=".json, application/json" (change)='loadCharacter($event)'>
