<form class="dark-layout" [formGroup]="attunementsForm">
    <span class="title section-title">
      <span (click)="toggleAttunements()" class="clickable">ATTUNEMENTS</span>
    </span>

    <span *ngIf="showAttunements" class="job-shuffle">
        <strong class="title clickable" [ngClass]="{'enabled': currentJob === 'deft'}" (click)="changeJob('deft')">DEFT</strong>
        <strong class="title clickable" [ngClass]="{'enabled': currentJob === 'strong'}" (click)="changeJob('strong')">STRONG</strong>
        <strong class="title clickable" [ngClass]="{'enabled': currentJob === 'wise'}" (click)="changeJob('wise')">WISE</strong>
    </span>

    <span class="attunement-section"
        formGroupName="strong"
        *ngIf="currentJob === 'strong' && showAttunements">
        <span class="standard-input label-input-layout" formGroupName="keywords">
          <span class="under-label">
            <label>KEYWORD</label>
            <input spellcheck="false" type="text" id="value" formControlName="value">
          </span>
          <span class="under-label current">
            <label>CURRENT</label>
            <input spellcheck="false" type="number" id="currentUses" formControlName="currentUses">
          </span>
          <span class="under-label max">
            <label>MAX</label>
            <input spellcheck="false" type="number" id="maxUses" formControlName="maxUses">
          </span>
        </span>
        <textarea spellcheck="false" appTextareaAutosize id="one" formControlName="one"></textarea>
        <textarea spellcheck="false" appTextareaAutosize id="two" formControlName="two"></textarea>
        <textarea spellcheck="false" appTextareaAutosize id="three" formControlName="three"></textarea>
        <textarea spellcheck="false" appTextareaAutosize id="four" formControlName="four"></textarea>
    </span>

    <span class="multi-slot-section attunement-section"
    formGroupName="wise"
    *ngIf="currentJob === 'wise' && showAttunements">
        <div (dblclick)="addRemoveLongTouchClass($event)" (touchstart)="touchStart($event)" (touchend)="touchEnd()" class="section-group" formGroupName="firstSection">
          <textarea spellcheck="false" appTextareaAutosize id="first one wise" formControlName="one"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="first two wise" formControlName="two"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="first three wise" formControlName="three"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="first four wise" formControlName="four"></textarea>
        </div>

        <div (dblclick)="addRemoveLongTouchClass($event)" (touchstart)="touchStart($event)" (touchend)="touchEnd()" class="section-group" formGroupName="secondSection">
          <textarea spellcheck="false" appTextareaAutosize id="second one wise" formControlName="one"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="second two wise" formControlName="two"></textarea>
        </div>

        <div (dblclick)="addRemoveLongTouchClass($event)" (touchstart)="touchStart($event)" (touchend)="touchEnd()" class="section-group" formGroupName="thirdSection">
          <textarea spellcheck="false" appTextareaAutosize id="third one wise" formControlName="one"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="third two wise" formControlName="two"></textarea>
        </div>

        <div (dblclick)="addRemoveLongTouchClass($event)" (touchstart)="touchStart($event)" (touchend)="touchEnd()" class="section-group" formGroupName="fourSection">
          <textarea spellcheck="false" appTextareaAutosize id="fourth one wise" formControlName="one"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="fourth two wise" formControlName="two"></textarea>
        </div>

        <div (dblclick)="addRemoveLongTouchClass($event)" (touchstart)="touchStart($event)" (touchend)="touchEnd()" class="section-group" formGroupName="fifthSection">
          <textarea spellcheck="false" appTextareaAutosize id="fifth one wise" formControlName="one"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="fifth two wise" formControlName="two"></textarea>
        </div>
      </span>

      <span
        class="multi-slot-section attunement-section"
        formGroupName="deft"
        *ngIf="currentJob === 'deft' && showAttunements">
        <div (dblclick)="addRemoveLongTouchClass($event)" (touchstart)="touchStart($event)" (touchend)="touchEnd()" class="section-group" formGroupName="firstSection">
          <textarea spellcheck="false" appTextareaAutosize id="first one deft" formControlName="one"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="first two deft" formControlName="two"></textarea>
        </div>

        <div (dblclick)="addRemoveLongTouchClass($event)" (touchstart)="touchStart($event)" (touchend)="touchEnd()" class="section-group" formGroupName="secondSection">
          <textarea spellcheck="false" appTextareaAutosize id="second one deft" formControlName="one"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="second two deft" formControlName="two"></textarea>
        </div>

        <div (dblclick)="addRemoveLongTouchClass($event)" (touchstart)="touchStart($event)" (touchend)="touchEnd()" class="section-group" formGroupName="thirdSection">
          <textarea spellcheck="false" appTextareaAutosize id="third one deft" formControlName="one"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="third two deft" formControlName="two"></textarea>
        </div>

        <div (dblclick)="addRemoveLongTouchClass($event)" (touchstart)="touchStart($event)" (touchend)="touchEnd()" class="section-group" formGroupName="fourSection">
          <textarea spellcheck="false" appTextareaAutosize id="fourth one deft" formControlName="one"></textarea>
          <textarea spellcheck="false" appTextareaAutosize id="fourth two deft" formControlName="two"></textarea>
        </div>
      </span>
</form>