form {
    .title{
        &.enabled {
            color: white;
        }
    }

    .job-shuffle {
        display: flex;
        flex-direction: column;
        text-align: center;
        .shuffle-layout {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .slot-instructions {
            font-size: .7rem;
            color: gray;
            text-transform: uppercase;
        }
    }

    .attunement-section {
        display: flex;
        flex-direction: column;
        gap: 0.5vw;

        .chosen {
            background-color: white;
            color: black;
        }

        &.multi-slot-section {
            display: flex;
            flex-direction: column;
            gap: 0.5vw;
            .section-group {
                display: flex;
                flex-direction: column;
                gap: 0.5vw;
                padding-bottom: 0.5vw;
                border-bottom: 1px solid white;
            }
        }
    }
}

.standard-input {
    display: grid;
    grid-template-columns: auto 10% 10%;
    column-gap: 0.5rem;
    .under-label {
        input {
            text-align: center;
            font-family: 'DM Serif', serif;
            font-size: 1rem;
            letter-spacing: .5rem;
        }
        label {
            font-size: 0.5rem;
        }

        &.current, &.max {
            input {
                width: 8.5vw;
            }
            label {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 360px) {
    .standard-input {
        .under-label {
            input {
                width: 77vw;
            }
        }
    }
}

@media screen and (min-width: 810px) {
    .standard-input {
        .under-label {
            input {
                width: 69vw;
            }
        }
    }
}


@media screen and (min-width: 1440px) {
    .standard-input {
        .under-label {
            input {
                font-size: 1.3vw;
                letter-spacing: .5vw;
                width: 24vw;
            }
            label {
                font-size: 0.7vw;
            }
            &.current, &.max {
                input {
                    width: unset;
                }
            }
        }
    }
}