<span class="identity-layout">
    <form class="info-section" [formGroup]="identityForm">
        <span class="standard-input label-input-layout name">
            <label for="name">NAME</label>
            <input id="name" type="text" formControlName="name">
        </span>
        <span class="standard-input label-input-layout">
            <label for="species">SPECIES</label>
            <input id="species" type="text" formControlName="species">
        </span>
        <span class="standard-input label-input-layout">
            <label for="vocation">VOCATION</label>
            <input id="vocation" type="text" formControlName="vocation">
        </span>
        <span class="standard-input label-input-layout extras">
            <label for="extras">LANGUAGES, SPECIAL TRAITS, & MUSINGS</label>
            <textarea appTextareaAutosize id="extras" type="text" formControlName="extras"></textarea>
        </span>
    </form>
</span>